* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



p {
  color: white;
  text-align: center;
  line-height: 0.7;
  font-family: 'Courier New', Courier, monospace;
  }

.contenedor {
  width: 100vw;
  height: 100vh;
  background:linear-gradient(326deg, rgba(118,9,121,0.7) 0%, rgba(0,168,255, 0.7) 100%), url('./assets/fondo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.time--contenedor{
  display: flex;
  flex-direction: row;
}
 
.time {
  margin: 20px;
}

.time--value{
  font-size: 7rem;
}

.time--tag {
  font-weight: bold;
  font-size: 4rem;
}


.footer--quote{
  margin-top: 20px;
  font-size: 2rem;
  

}

@media (max-width: 600px) {
  .time--contenedor{
    display: flex;
    flex-direction: column;
  }
}





